
*
{
    margin: 0;
    padding: 0;
}

.header{
position: absolute;
width: 365px;
height: 93px;
left: 124px;
top: 91px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 101.38%;
}

.main{
    position: absolute;
width: 662px;
height: 374px;
left: 124px;
top: 202px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
}
.img1{
    position: absolute;
width: 232px;
height: 203px;
left: 124px;
top: 670px;
z-index: 1;
}
.ellipse1{
    position: absolute;
width: 189px;
height: 32px;
left: 157px;
top: 857px;
border-radius: 50%;
background: #EFEFEF;
}
.ellipse2{
    position: absolute;
    width: 366px;
    height: 59px;
    left: 950px;
    top: 511px;
    border-radius: 50%;
    background: #EFEFEF;
}
.img2{
    position: absolute;
width: 314px;
height: 315px;
left: 976px;
top: 226px;
z-index: 1;
}
.one h1{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 488px;
    top: 740px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
}
.one p{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 488px;
    top: 780px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.two h1{
    position: absolute;
width: 150px;
height: 39px;
left: 733px;
top: 740px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 130%;
}
.two p{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 733px;
    top: 780px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.three h1{
    position: absolute;
    width: 150px;
    height: 39px;
    left: 976px;
    top: 740px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
}
.three p{
    position: absolute;
width: 150px;
height: 39px;
left: 976px;
top: 780px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 130%;
}
